.container {
  /* width: 70%; */
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #914ecc;
}

p {
  font-size: 2.5rem;
  color: #c8cc4e;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

@media screen and (max-width: 992px){
    
  

}

@media screen and (max-width: 768px){
  
  

}

@media screen and (max-width: 576px){
  
  .container{
    width: 90%;
  }

}

